<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Lap Nguyen">
    <title>To Do List</title>
    
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/8fb943b67c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/4.css">
</head>

<body>
<div class="container">

    <h1>to-do list <i class="fa fa-plus" id="addIcon" aria-hidden="true"></i></h1>
    <input type="text" name="addNewItem" placeholder="+ Add New ...">
    <ul>
        <li><span class="deleteButton"><i class="fa fa-trash"></i></span> Apply for a new job</li>
        <li><span class="deleteButton"><i class="fa fa-trash"></i></span></span> Prepare for job interview</li>
        <li><span class="deleteButton"><i class="fa fa-trash"></i></span></span> Be positive</li>
    </ul>
</div>
<script type="text/javascript" src="/js/4.js"></script>
</body>

</html>