<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Game & 3D Projects</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/projects.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">

</head>

<body>
    <br>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/" ="lead"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to homepage</a>
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/webprojects" class="list-group-item">Web Projects</a>
                    <a href="/mobileprojects" class="list-group-item">Mobile Projects</a>
                    <a href="/gameprojects" class="list-group-item active">Game & 3D Projects</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/game3.jpg" alt="Lap Nguyen">
                            <div class="caption">
                                <p>
                                    <b>Project 3: </b><br>
                                    <span class="steelblue">3D Content Creation for VR</span>
                                </p>
                                <p class="description">
                                    Used: Modeling, Unwrapping, Texturing, & Lighting techniques in 3DS Max
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://www.artstation.com/artwork/PYPmB" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore </a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/game2.jpg" alt="Lap Nguyen">
                            <div class="caption">
                                <p>
                                    <b>Project 2: </b><br>
                                    <span class="steelblue">The Sky Adventure</span>
                                </p>
                                <p class="description">
                                    Used: C# & Unity
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://github.com/lapnguyen-se/The-Sky-Adventure" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/game1.jpg" alt="Lap Nguyen">
                            <div class="caption">
                                <p>
                                    <b>Project 1: </b><br>
                                    <span class="steelblue">Dragon City Lite</span>
                                </p>
                                <p class="description">
                                    Used: C# & Unity
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://drive.google.com/open?id=1kUQSU11gE9T2xQZwOcd8nSAkKACW8KKf" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore (.exe)</a> 
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</body>

</html>
