<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Lap Nguyen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
    <!--      crossorigin="anonymous">-->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pl-0">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="/"><b>LAP NGUYEN</b></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="border: solid 1px white;"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse main-navigation" id="navbar">
                            <ul class="navbar-nav ml-auto navigation">
                                 <li class="nav-item"><a class="nav-link active" href="#top">HOME <span class="sr-only">(current)</span></a> </li>
                                 <li class="nav-item"><a class="nav-link" href="#about">ABOUT</a> </li>
                                 <li class="nav-item"><a class="nav-link" href="#projects">PORTFOLIO</a> </li>
                                 <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a> </li>
                            </ul>
                            <!--<a href="/docs/LapNguyen_Resume.pdf" download class="nav-link btn-cv" id="btn-cv">DOWNLOAD CV</a>-->
                        </div>
                     </nav>
                </div>
            </div>
        </div>
    </div>
    
<div class="responsive-header" id="top">
    <div class="mobile-banner-bg">
        <div class="banner-overlay"></div>
        <div class="welcome-text text-center">
            <h3 class="text-white">Hello, are you looking for a developer...?</h3>
            <h2>Here I'm <span class="greenyellow">Lap Nguyen</span></h2>
        </div>
    
        <div class="row mt-4">
          <div class="col-6">
            <div class="profile-image float-right">
                <img src="img/profile.jpg" alt="Lap Nguyen">
            </div>
          </div>
          <div class="col-6" style="border-left: solid 1px white;">
            <div class="profile-details float-left">
                <p class="profile-contact">
                    <i class="fa fa-envelope" aria-hidden="true"></i> LapNguyen.se@gmail.com
                    <br>
                    <i class="fa fa-phone" aria-hidden="true"></i> (+61) 414 389 384
                    <br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> NSW 2170, Australia
                    <br>

                    <div class="social-icons text-center">
                        <ul>
                            <li>
                                <!--https://www.linkedin.com/in/lap-nguyen-608104156/-->
                                <a target="_blank" href="https://www.linkedin.com/in/lapnguyen-se/" class="social-a"> 
                                    <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/lapnguyen-se" class="social-a">
                                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </p>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="fluid-container">
        <div class="content-wrapper">

            <!-- ABOUT -->
            <div class="container page-section" id="about">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">About Me</h4>
                        <p>
                            I’m a recent IT graduate and living in Sydney, Australia. I love learning new technologies and creating software products. Eager to build a career in the software development industry as a full stack developer.
                        </p>
                        
                        <div class="education">
                            <div class="pull-right">
                                <h4 class="title steelblue">2017 - 2018</h4>
                            </div>
                            <h4 class="title">DEAKIN UNIVERSITY, AUSTRALIA</h4>
                            <h4 class="major">Master of Information Technology</h4>
                            <p>
                                Major: Software Development
                            </p>
                        </div>
                        <div class="education">
                            <div class="pull-right">
                                <h4 class="title steelblue">2011 - 2016</h4>
                            </div>
                            <h4 class="title">UNIVERSITY OF SCIENCE, VIETNAM</h4>
                            <h4 class="major">Bachelor of Science</h4>
                            <p>
                                Major: Computer Science
                            </p>
                        </div>
                        
                        <!--<div class="text-center" style="margin-top: 50px;">-->
                        <!--    <a href="/docs/LapNguyen_Resume.pdf" download class="cv-button">DOWNLOAD CV-->
                        <!--        <i class="fa fa-download" aria-hidden="true"></i>-->
                        <!--    </a>-->
                        <!--</div>-->
                        <hr>
                    </div>
                </div>
            </div>

            <!-- PROJECTS -->
            <div class="container page-section" id="projects">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">MY PORTFOLIO</h4>
                        <p>I've been involved in different types of projects such as
                            <b>Web, Mobile, Game, and 3D Content Creation.</b>
                        </p>
                    </div>
                </div>
                <div class="row projects-holder">
                    <div class="col-md-4 col-sm-12">
                        <div class="project-item">
                            <img src="img/project-web.jpg" alt="">
                            <div class="project-hover">
                                <div class="inside">
                                    <h5>
                                        <span class="greenyellow">WEB</span>
                                        <br> PROJECTS
                                    </h5>
                                    <a href="/webprojects" class="btn-cv">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="project-item">
                            <img src="img/project-mobile.jpg" alt="">
                            <div class="project-hover">
                                <div class="inside">
                                    <h5>
                                        <span class="greenyellow">MOBILE</span>
                                        <br> PROJECTS
                                    </h5>
                                    <a href="/mobileprojects" class="btn-cv">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="project-item">
                            <img src="img/project-3d.jpg" alt="">
                            <div class="project-hover">
                                <div class="inside">
                                    <h5>
                                        <span class="greenyellow">GAME & 3D CONTENT</span>
                                        <br> PROJECTS
                                    </h5>
                                    <a href="/gameprojects" class="btn-cv">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .projects-holder -->
                <hr>
            </div>

            <!-- CONTACT -->
            <div class="container page-section" id="contact">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">PLACE TO TALK WITH ME</h4>
                        <p>
                            Apart from being a developer, I enjoy most of my time being outdoors and making
                            new friends. So feel free to leave me a message. <a href="mailto:lapnguyen.se@gmail.com">Contact me!</a>
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <form action="/" method="post" class="contact-form">
                            <div class="row">
                                <fieldset class="col-md-4 col-sm-12" style="display: inline;">
                                    <input type="text" id="your-name" placeholder="Your Name..." name="name" required>
                                </fieldset>
                                <fieldset class="col-md-4 col-sm-12" style="display: inline;">
                                    <input type="email" id="email" placeholder="Your Email..." name="email" required>
                                </fieldset>
                                <fieldset class="col-md-4 col-sm-12" style="display: inline;">
                                    <input type="text" id="your-subject" placeholder="Subject..." name="title" required>
                                </fieldset>
                            </div>
                            
                            <div class="row">
                                <fieldset class="col-md-12 col-sm-12">
                                    <textarea name="message" id="message" cols="30" rows="6"
                                              placeholder="Leave your message..." name="message" required></textarea>
                                </fieldset>
                            </div>
                            
                            <div class="row">
                                <fieldset class="col-md-4">
                                    <input type="submit" class="" value="SEND">
                                </fieldset>
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
            </div>

            <hr>

            <!-- Footer -->
            <div class="row" id="footer">
                <div class="col-md-12 text-center">
                    <p class="copyright-text">Created by Lap Nguyen December 2017</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>