<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Lap Nguyen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
</head>

<body>

<div class="responsive-header visible-xs visible-sm">
    <div class="mobile-banner-bg">
        <div class="banner-overlay"></div>
        <div class="welcome-text text-center">
            <h3>Hello</h3>
            <h2>I'M <span class="greenyellow">LAP NGUYEN</span></h2>
        </div>
    </div>
</div>

<!-- SIDEBAR -->
<div class="sidebar-menu hidden-xs hidden-sm">
    <!-- top-section -->
    <div class="top-section">
        <div class="profile-image">
            <img src="img/profile.jpg" alt="Lap Nguyen">
        </div>
        <div class="profile-details text-center">
            <h3 class="profile-title">
                <b>Lap Nguyen</b>
            </h3>
            <p class="profile-description">
                <!--<i>Software Developer</i>-->
            </p>
            <hr>
            <p class="profile-contact">
                <i class="fa fa-envelope" aria-hidden="true"></i> LapNguyen.se@gmail.com
                <br>
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i> (+61) 414 389 384
                <br>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Melbourne, Australia
            </p>
        </div>
        <div class="social-icons text-center">
            <ul>
                <li>
                    <!--https://www.linkedin.com/in/lap-nguyen-608104156/-->
                    <a target="_blank" href="https://www.linkedin.com/in/lapnguyen-se/" class="social-a"> 
                        <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/lapnguyen-se" class="social-a">
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- main-navigation -->
    <div class="main-navigation">
        <ul class="navigation text-center">
            <li>
                <a href="#top">
                    WELCOME</a>
            </li>
            <li>
                <a href="#about">
                    ABOUT ME</a>
            </li>
            <li>
                <a href="#projects">
                    MY PORTFOLIO</a>
            </li>
            <li>
                <a href="#contact">
                    CONTACT ME</a>
            </li>
        </ul>
    </div>
</div>

<!-- BANNER -->
<div class="banner-bg hidden-xs hidden-sm" id="top">
    <div class="banner-overlay"></div>
    <div class="welcome-text">
        <h3>Hello</h3>
        <h2>I'M <span class="greenyellow">LAP NGUYEN</span></h2>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="fluid-container">
        <div class="content-wrapper">

            <!-- ABOUT -->
            <div class="page-section" id="about">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">About Me</h4>
                        <p>
                            I’m a penultimate year IT student and living in Melbourne, Australia. I love learning new technologies and creating software products. Eager to build a career in the software development industry.
                        </p>
                        <br></br>
                        <div class="education">
                            <h4 class="title">DEAKIN UNIVERSITY, AUSTRALIA</h4>
                            <h4 class="major">MASTER OF INFORMATION TECHNOLOGY</h4>
                            <p class="pull-right steelblue">
                                <b>2017 - Present</b>
                            </p>
                            <p>
                                Major: Software Development
                            </p>
                        </div>
                        <div class="education">
                            <h4 class="title">UNIVERSITY OF SCIENCE, VIETNAM</h4>
                            <h4 class="major">BACHELOR OF SCIENCE</h4>
                            <p class="pull-right steelblue">
                                <b>2011 - 2016</b>
                            </p>
                            <p>
                                Major: Computer Science
                            </p>
                        </div>
                        <div class="text-center" style="margin-top: 50px;">
                            <a href="/docs/Lap_Nguyen_Resume.pdf" download id="cv-button">DOWNLOAD CV
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <!-- PROJECTS -->
            <div class="page-section" id="projects">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">MY PORTFOLIO</h4>
                    <!--    <p>I've been involved in many different types of project including-->
                    <!--        <b>WEB, MOBILE, GAME, and 3D CONTENT CREATION.</b>-->
                    <!--    </p>-->
                    <!--</div>-->
                </div>
                <div class="row projects-holder">
                    <div class="col-md-4 col-sm-12">
                        <div class="project-item">
                            <img src="img/project-web.jpg" alt="">
                            <div class="project-hover">
                                <div class="inside">
                                    <h5>
                                        <span class="greenyellow">WEB</span>
                                        <br> PROJECTS
                                    </h5>
                                    <a href="/webprojects" class="button">VIEW ALL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="project-item">
                            <img src="img/project-mobile.jpg" alt="">
                            <div class="project-hover">
                                <div class="inside">
                                    <h5>
                                        <span class="greenyellow">MOBILE</span>
                                        <br> PROJECTS
                                    </h5>
                                    <a href="/mobileprojects" class="button">VIEW ALL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="project-item">
                            <img src="img/project-3d.jpg" alt="">
                            <div class="project-hover">
                                <div class="inside">
                                    <h5>
                                        <span class="greenyellow">GAME & 3D CONTENT</span>
                                        <br> PROJECTS
                                    </h5>
                                    <a href="/gameprojects" class="button">VIEW ALL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .projects-holder -->
            </div>
            <hr>

            <!-- CONTACT -->
            <div class="page-section" id="contact">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">PLACE TO TALK WITH ME</h4>
                        <p>
                            Apart from being a student, I enjoy most of my time being outdoors and making
                            new friends. So feel free to leave me a message. <a href="mailto:lapnguyen.se@gmail.com">Contact me!</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <form action="/" method="post" class="contact-form">
                        <fieldset class="col-md-4 col-sm-6">
                            <input type="text" id="your-name" placeholder="Your Name..." name="name" required>
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-6">
                            <input type="email" id="email" placeholder="Your Email..." name="email" required>
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-12">
                            <input type="text" id="your-subject" placeholder="Subject..." name="title" required>
                        </fieldset>
                        <fieldset class="col-md-12 col-sm-12">
                            <textarea name="message" id="message" cols="30" rows="6"
                                      placeholder="Leave your message..." name="message" required></textarea>
                        </fieldset>
                        <fieldset class="col-md-12 col-sm-12">
                            <input type="submit" class="button" value="Send Message">
                        </fieldset>
                    </form>
                </div>
            </div>

            <hr>

            <!-- Footer -->
            <div class="row" id="footer">
                <div class="col-md-12 text-center">
                    <p class="copyright-text">Copyright &copy; Created by Lap Nguyen December 2017</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--jQuerry-->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
    
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>