<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Web Projects</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../stylesheets/fresco/fresco.css" />
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/projects.css">
</head>

<body>
    <br>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/" ="lead"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to homepage</a>
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="list-group">
                    <a href="/webprojects" class="list-group-item active">Web Projects</a>
                    <a href="/mobileprojects" class="list-group-item">Mobile Projects</a>
                    <a href="/gameprojects" class="list-group-item">Game & 3D Projects</a>
                    <a href="/researchprojects" class="list-group-item">Research Work</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/31.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Mathematics Cells</div>
                                 <div>Utilised: HTML, CSS, and JavaScript.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='/webprojects/31' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Mathematics-Cells' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/31.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Mathematics Cells</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/23.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>PhotoHub</div>
                                 <div>Utilised: HTML, CSS, JavaScript, Bootstrap, MongoDB, Express, and Node.js.</div>
                                 <br>
                                 <!--<br>-->
                                 <a target='_blank' href='https://pacific-ocean-78440.herokuapp.com/photos' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Photo-Gallery' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/23.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Nice Places - PhotoHub</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/29.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>CSWorkShop</div>
                                 <div>Utilised: HTML, CSS, JavaScript, AJAX, and Polymer 1.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='https://new-csworkshop.firebaseapp.com/' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/CSWorkshop' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/29.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>CSWorkShop <span class="not-bold">with Polymer1</span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/27.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Recipe Book</div>
                                 <div>Utilised: HTML, CSS, Bootstrap(v3) TypeScript, and Angular 5.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='https://lapnguyen-se.github.io/Recipe-Book-with-Angular-5/recipes' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Recipe-Book-with-Angular-5' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/27.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Recipe Book <span class="not-bold">with Angular5</span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/25.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Bookart</div>
                                 <div>Utilised: HTML, CSS,  JavaScript, and Angular 1.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='/webprojects/25' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Bookart-with-Angular-1' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/25.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Bookart <span class="not-bold">with Angular1</span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/30.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Login System</div>
                                 <div>Utilised: HTML, CSS, PHP, SQL, and AJAX.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='http://www.deakin.edu.au/~thietn/assignment2/index.php' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Login-System-withPHP' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/30.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Login System <span class="not-bold">with PHP</span></span>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/21.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Student Management System</div>
                                 <div>Utilised: HTML, CSS, JavaScript, Bootstrap, ASP.NET MVC, C#, and SQL Server Compact.</div>
                                 <br>
                                 <!--<br>-->    
                                 <a target='_blank' href='https://drive.google.com/open?id=1C9AHg50Do9cnWZw7i8c7lgg8RfEvt4At' class='link-sourcecode'>My Tutorial</a>">
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Student-Management-System' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/21.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Student Management System</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/15.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Maze Generator</div>
                                 <div>Utilised: HTML, CSS, and JavaScript.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='/webprojects/15' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Maze' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/15.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Maze Generator</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/14.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Minesweeper</div>
                                 <div>Utilised: HTML, CSS, and JavaScript.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='/webprojects/14' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Minesweeper' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/14.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Minesweeper</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/13.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Binary Search Tree</div>
                                 <div>Utilised: HTML, CSS, and JavaScript.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='/webprojects/13' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Binary-Search-Tree' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/13.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Binary Search Tree</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/12.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Analog Clock</div>
                                 <div>Utilised: HTML, CSS, and JavaScript.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='/webprojects/12' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Analog-Clock' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/12.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Analog Clock</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-2">
                        <div class="thumbnail border">
                            <a href='/img/11.jpg'
                                 class='fresco'
                                 data-fresco-group='web-projects'
                                 data-fresco-caption="
                                 <div class='lightbox-title'>Breakout</div>
                                 <div>Utilised: HTML, CSS, and JavaScript.</div>
                                 <br>
                                 <br>
                                 <a target='_blank' href='/webprojects/11' class='btn-explore'><i class='fa fa-play' aria-hidden='true'></i> EXPLORE</a> 
                                 | <a target='_blank' href='https://github.com/lapnguyen-se/Breakout' class='link-sourcecode'>Source Code</a>">
                                <img src='/img/11.jpg' alt=''/>
                            </a>
                            <div class="caption">
                                <p>
                                    <span>Breakout</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- /.container -->

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../js/fresco/fresco.js"></script>
</body>

</html>
