<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Web Projects</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/projects.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">

</head>

<body>
    <br>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/" ="lead"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to homepage</a>
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/webprojects" class="list-group-item active">Web Projects</a>
                    <a href="/mobileprojects" class="list-group-item">Mobile Projects</a>
                    <a href="/gameprojects" class="list-group-item">Game & 3D Projects</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/31.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 31: </b><br>
                                    <span class="steelblue">Mathematics Cells - educational game</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/31" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/30.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 30: </b><br>
                                    <span class="steelblue">Login System with PHP</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, PHP, SQL, and AJAX
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="http://www.deakin.edu.au/~thietn/assignment2/index.php" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/29.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 29: </b><br>
                                    <span class="steelblue">CSWorkShop with Polymer 1</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Javascript, AJAX, and Polymer 1
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://new-csworkshop.firebaseapp.com/" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/28.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 28: </b><br>
                                    <span class="steelblue">To Do List with Polymer 1</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Javascript, and Polymer
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://todolist-c1331.firebaseapp.com/" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/27.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 27: </b><br>
                                    <span class="steelblue">Recipe Book with Angular 5</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Bootstrap(v3) TypeScript, and Angular 5
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://lapnguyen-se.github.io/Recipe-Book-with-Angular-5/recipes" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/26.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 26: </b><br>
                                    <span class="steelblue">To Do List with Angular 5</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  TypeScript, and Angular 5
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://lapnguyen-se.github.io/To-Do-List-with-Angular-5/" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/25.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 25: </b><br>
                                    <span class="steelblue">Bookart with Angular 1</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  Javascript, and Angular 1
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/25" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/24.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 24: </b><br>
                                    <span class="steelblue">To Do List with Angular 1</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  Javascript, and Angular 1
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/24" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../img/23.jpg" alt="">
                            <div class="caption scroll">
                                <p>
                                    <b>Project 23: </b><br>
                                    <span class="steelblue">New Places Page</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Javascript, Bootstrap, Google Map API, Authentication Express, MongoDB, Deploying with Heroku, NodeJS, and mLab
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://nice-places-app.herokuapp.com/places" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../img/22.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 22: </b><br>
                                    <span class="steelblue">RESTful Blog Page</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Javascript, Semantic IU, Express, MongoDB, Deploying with Heroku, NodeJS, and mLab 
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://a-blog-app.herokuapp.com/blogs" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../img/21.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 21: </b><br>
                                    <span class="steelblue">Student Management System</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Javascript, Bootstrap (v3), ASP.NET MVC, C#, and SQL Server Compact 
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="https://github.com/lapnguyen-se/Student-Management-System" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                               <b>&</b>
                               <a target="_blank" href="https://drive.google.com/open?id=1C9AHg50Do9cnWZw7i8c7lgg8RfEvt4At">My tutorial</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/20.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 20: </b><br>
                                    <span class="steelblue">Landing Page - The Hotel</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  Bootstrap (v3), and Font Awesome
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/20" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/19.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 19: </b><br>
                                    <span class="steelblue">Landing Page - Lap Nguyen</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  Bootstrap (v3), and Font Awesome
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/19" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/18.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 18: </b><br>
                                    <span class="steelblue">Landing Page - Camego</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  Bootstrap (v4), and Font Awesome
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/18" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/17.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 17: </b><br>
                                    <span class="steelblue">Landing Page - TheShop</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  Bootstrap (v4), and Font Awesome
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/17" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/16.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 16: </b><br>
                                    <span class="steelblue">Electronic Music Tool</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Javascript, Web Audio API, and NexusUI
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/16" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/15.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 15: </b><br>
                                    <span class="steelblue">Maze Generator</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/15" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/14.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 14: </b><br>
                                    <span class="steelblue">Minesweeper</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/14" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/13.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 13: </b><br>
                                    <span class="steelblue">Binary Search Tree</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/13" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/12.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 12: </b><br>
                                    <span class="steelblue">Analog Clock</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/12" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/11.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 11: </b><br>
                                    <span class="steelblue">Breakout</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/11" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/10.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 10: </b><br>
                                    <span class="steelblue">Calculator</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/10" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/9.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 9: </b><br>
                                    <span class="steelblue">Countdown Timer</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/9" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/8.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 8: </b><br>
                                    <span class="steelblue">Random Walker</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/8" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/7.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 7: </b><br>
                                    <span class="steelblue">Calendar</span>
                                </p>
                                <p class="description">
                                    Used: HTML, and CSS
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/7" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/6.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 6: </b><br>
                                    <span class="steelblue">Potatap clone</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, Javascript, and PaperJS
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/6" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/5.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 5: </b><br>
                                    <span class="steelblue">Starfield</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/5" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/4.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 4: </b><br>
                                    <span class="steelblue">To-do List</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  jQuery, and Font Awesome
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/4" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/3.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 3: </b><br>
                                    <span class="steelblue">Landing page: Purrfect Match</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS,  Bootstrap (v3), and Font Awesome
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/3" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/2.jpg" alt="">
                            <div class="caption">
                                <p>
                                    <b>Project 2: </b><br>
                                    <span class="steelblue">RGB Game</span>
                                </p>
                                <p class="description">
                                    Used: HTML, CSS, and Javascript
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/2" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/1.jpg" alt="Lap Nguyen">
                            <div class="caption">
                                <p>
                                    <b>Project 1: </b><br>
                                    <span class="steelblue">HTML and CSS - Three-column layout web page</span>
                                </p>
                                <p class="description">
                                    Used: HTML, and CSS
                                </p>
                            </div>
                            <hr>
                            <div class="text-center project-footer">
                               <a target="_blank" href="/webprojects/1" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Explore</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</body>

</html>
