<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Analog Clock</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            background-color: rgb(3, 0, 32);
        }

        #myCanvas {
            display: block;
            margin: 100px auto;
        }
    </style>
</head>

<body>
    <canvas id="myCanvas">
        Your browser is out-of-date. Please update your browser.
    </canvas>

    <script src="/js/12/script.js"></script>
</body>

</html>