<div class="container">

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." ng-model="searchString">
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="media" ng-repeat="book in books | filter:searchString ">
                <div class="media-left media-middle">
                    <img class="img-thumbnail" ng-src="{{ book.imageUrl }}" style="max-width: 200px;">
                </div>
                <div class="media-body">
                    <button class="btn btn-success pull-right" ng-click="addToKart(book)"> + Add to Kart</button>
                    <h4 class="media-heading"> {{ book.name }}</h4>
                    <ul class="nav nav-pills">
                        <li class="lead no-margin">{{ book.price | currency }}</li>
                        <br class="clear">
                        <li><b>Rating:</b> {{ book.rating }}/5 |</li>
                        <li><b>Binding:</b> {{ book.binding }} |</li>
                        <li><b>Publisher:</b> {{ book.publisher}} |</li>
                        <li><b>Released:</b> {{ book.releaseDate }} |</li>
                    </ul>
                    <hr>
                    <p> {{ book.description.substring(0, 300) }}...</p>

                </div>
            </div>
        </div>
    </div>

</div>