.thumbnail img {
    width: 100%;
    border-radius: 6px 6px 0 0;
    padding: 2px;
}

.caption {
    text-align: center;
    font-weight: bold;
    color: black;
    height: 3rem;
}

.border {
    border: solid 1px black !important;
    border-radius: 6px;
}

.btn-explore {
    padding-left: 1rem;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    color: greenyellow !important;
    background-color: none;
    border-radius: 6px;
    border: solid 1px greenyellow !important;
    padding: 10px !important;
    outline: none;
}

.btn-explore:hover {
    color: white !important;
    background-color: green !important;
}

.link-sourcecode {
    color: deepskyblue !important;
}

.not-bold {
    font-weight: normal;
    color: gray;
}

.list-group-item {

    color: black;
}

.list-group-item.active {
    background-color: steelblue;
    border: none;
    font-weight: bold;
}

.lightbox-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}

.lightbox-utilised {
    font-style: italic;
    margin-top: 10px;
    color: rgb(255, 255, 255, 0.6);
}
