/* RESET */

body {
    font-family: "Times New Roman", Times, serif;
    line-height: 24px;
    color: #777777;
    overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.greenyellow {
    color: greenyellow;
}

.steelblue {
    color: steelblue;
}

.black {
    color: black;
}

.default {
    color: #777777;
}

.rounded-border {
    border-radius: 6px;
}

ol,
ul {
    list-style: none;
}

a {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none !important;
}

a:hover {
    color: #555555;
}

h1,
h2,
h3,
h4,
h5 {
    color: #555555;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

.content-wrapper {
    padding: 0 80px;
}

h4.widget-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

hr {
    position: relative;
    outline: 0;
    border: 0;
    width: 100%;
    height: 4px;
    background: #dddddd;
    margin-top: 40px;
    margin-bottom: 0;
}

.page-section {
    padding-top: 60px;
}

.page-section p {
    font-size: 20px;
}

.main-navigation li a i {
    margin-right: 15px;
    font-size: 24px;
}

.social-icons {
    display: block;
    padding-top: 15px;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons a {
    font-size: 18px;
    color: white;
}

.profile-image {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

.profile-image img {
    width: 100%;
}

p.profile-contact {
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    color: white;
}

.social-icons a:hover {
    color: #808080;
}

.social-a {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .content-wrapper {
        padding: 0 30px;
    }

    .page-section p {
        font-size: 16px;
    }

    .responsive-header .profile-image {
        float: left;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
    }

    .responsive-header .profile-content {
        text-align: left;
        margin-top: 30px;
        overflow: hidden;
    }

    .social-a {
        background-color: rgba(0, 0, 0, 0.8);
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
    }

    .social-icons a {
        font-size: 14px;
        color: white;
    }

    p.profile-contact {
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
}

.mobile-banner-bg {
    height: 100vh;
    padding: 35vh 0;
    position: relative;
    background: url("../img/workstation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

#mobile-banner {
    height: 100vh;
}

.banner-bg {
    padding: 250px 80px;
    position: relative;
    background: url("../img/workstation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: -1;
}

.welcome-text {
    position: relative;
    z-index: 4;
}

.welcome-text h2 {
    font-size: 45px;
    color: white;
    font-weight: bold;
    word-spacing: 5px;
}

.welcome-text h3 {
    font-size: 30px;
    font-weight: lighter;
    color: rgb(212, 212, 212);
}

/* PROJECTS */

.projects-holder {
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
}

.projects-holder .col-md-4,
.projects-holder .col-md-4 {
    padding-right: 1px;
    padding-left: 1px;
}

.project-item {
    width: 100%;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
}

.project-item img {
    width: 100%;
    display: block;
}

.project-item:hover .project-hover {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.project-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.project-hover .inside {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px;
}

.project-hover h5 {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}

.project-hover p {
    color: white;
    font-size: 13px;
    line-height: 20px;
}

.project-hover .button {
    width: 100%;
    background-color: steelblue;
    padding: 8px;
    color: white;
    margin-bottom: 0;
    border-radius: 6px;
}

.project-hover .button:hover {
    background-color: rgb(45, 84, 112);
}

/* CONTACT */

.contact-form {
    margin-top: 50px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #aaaaaa;
    padding: 12px;
    color: #999999;
    margin-bottom: 30px;
}

/* Footer */

#footer {
    margin: 50px 0;
}

.education {
    word-spacing: 2px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: solid gray 1px;
}

.education .title {
    font-weight: bold;
    font-size: 20px;
}

.education .major {
    font-size: 20px;
    font-weight: lighter;
    color: #777777;
}

.education p {
    padding: 5px 20px;
}

.cv-button {
    text-align: center;
    padding: 10px;
    background-color: steelblue;
    color: white !important;
    border: none !important;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 6px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

#cv-button:hover {
    background-color: black;
}

#abc {
    z-index: 10;
}

.thumbnail {
    padding: 0;
}

.list-group {
    border-radius: 0;
}

/*Navbar*/

.narbar {
    padding: 0;
}

.nav-menu {
    transition: all 0.3s ease;
    padding-bottom: 20px;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding-bottom: 0;

}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid white;
        left: 1rem;
        right: 1rem;
        bottom: 10px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .nav-menu {
        padding-bottom: 0px;
    }

    .navbar-nav .nav-item {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
}

.btn-cv {
    padding-left: 1rem;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    color: greenyellow !important;
    background-color: none;
    border-radius: 6px;
    border: solid 1px greenyellow !important;
    padding: 10px !important;
    outline: none;
}

.btn-cv:hover {
    color: white !important;
    background-color: green !important;
}

button.navbar-toggler {
    outline: none;
    border: solid 10px white;
}
