<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Calendar</title>
    <style>
        #calendar {
            width: 40%;
            margin: 100px auto;
        }

        ul {
            list-style-type: none;
        }

        .month {
            padding: 10px 0px;
            width: 100%;
            background: black;
            text-align: center;
        }

        #smallHr {
            width: 5%;
            border-color: greenyellow;
            margin-bottom: 0;
        }

        #longHr {
            border-color: greenyellow;
            margin: 0;
            padding: 0;
        }

        .month ul {
            margin: 0;
            padding: 0;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .month .prev {
            float: left;
            padding-top: 10px;
        }

        .month .next {
            float: right;
            padding-top: 10px;
        }

        .weekdays {
            background-color: black;
            color: #777;
            margin: 0;
            padding: 0;
        }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            text-align: center;
        }

        .days {
            background: black;
            padding: 10px 0;
            margin: 0;
        }

        .days li {
            list-style-type: none;
            display: inline-block;
            width: 13.6%;
            text-align: center;
            margin-bottom: 5px;
            font-size: 12px;
            color: #777;
        }

        .active {
            padding: 4px;
            border: solid 2px greenyellow;
            background-color: rgb(92, 134, 25);
            font-weight: bold;
            color: white;
        }
    </style>
</head>

<body>
<div id="calendar">
    <div class="month">
        <ul>
            <li class="prev" style="margin-left: 30px;">&#10094;</li>
            <li class="next" style="margin-right: 30px;">&#10095;</li>
            <li>
                <span>August</span>
                <br>
                <span>2017</span>
                <hr id="smallHr">
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>MON</li>
        <li>TUE</li>
        <li>WED</li>
        <li>THU</li>
        <li>FRI</li>
        <li>SAT</li>
        <li>SUN</li>
    </ul>
    <hr id="longHr">

    <ul class="days">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>
            <span class="active">13</span>
        </li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
    </ul>
</div>

</body>

</html>