<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lap Nguyen">
    <title>Mathematics Cells</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/31/css/styles.css">

    <script type="text/javascript" src="/js/31/js/ui.js"></script>
    <script type="text/javascript" src="/js/31/js/Cell.js"></script>
    <script type="text/javascript" src="/js/31/js/Sound.js"></script>
    <script type="text/javascript" src="/js/31/data/gameData.js"></script>
    <script type="text/javascript" src="/js/31/js/gameSettings.js"></script>

    <script type="text/javascript" src="/js/31//js/script.js"></script>
</head>
<body>

</body>
</html>
