<!DOCTYPE html>
<html>
<!-- 
    http://codentronix.com/2011/07/22/html5-canvas-3d-starfield/
    the stars that are far away look smaller and darker than closer stars.
    To achieve this, linear interpolation was applied to calculate the size and color of the stars based on the Z coordinate.
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Starfield</title>

    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
<canvas id="myCanvas" onmousemove="updateSpeed(event.clientX)">
    Your browser is out-of-date. Please update your browser.
</canvas>

<script src="/js/5/Star.js" type="text/javascript"></script>
<script src="/js/5/script.js"></script>
</body>

</html>