<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>To Do List - Angular 1</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
   
    <link href="/stylesheets/24.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular-animate.min.js"></script>

</head>
<body ng-app="myToDoList">
<div ng-controller="myCtrl">

    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <div class="card">
                <div class="card-header lead">
                    To-Do List with Angular 1
                </div>
                <ul class="list-group list-group-flush" ng-repeat="item in items">
                    <li class="list-group-item"><span ng-click="addEffect($index)"
                                                      ng-class="{strike: deleteArray[$index]}"
                                                      class="item">{{ item }}</span> <span
                            class="btn btn-danger btn-sm float-right font-weight-bold"
                            ng-click="removeItem($index)">x</span></li>
                </ul>

                <div class="card-footer text-muted small">

                    <div class="input-group">
                        <input type="text" class="form-control my-1" placeholder="Add new item..." ng-model="addMe">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" ng-click="addItem()">+ Add
                            </button>
                        </div>
                    </div>

                    <div class="text-danger">{{ errorMessage }}</div>

                </div>

            </div>
        </div>
    </div>


</div>
<script src="/js/24.js"></script>
</body>
</html>