<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Countdown Timer</title>
    
    <style>
        body {
            text-align: center;
            background-color: rgb(3, 1, 31);
        }

        #timer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #timer > div {
            width: 80px;
            font-size: 30px;
            color: white;
            font-weight: bold;
            padding: 10px;
            background: rgba(117, 190, 250, 0.9);
            display: inline-block;
        }

        #timer > div > span {
            padding: 15px;
            border-radius: 3px;
            background: steelblue;
            display: inline-block;
        }

        .text {
            color: white;
            font-size: 10px;
            padding-top: 5px;
            font-weight: normal;
        }
    </style>
</head>

<body>
<div id="timer">
    <h1 style="color:rgb(194, 191, 191); margin-bottom: 0; font-weight: normal;">CHRISTMAS IS COMING</h1>
    <hr style="width: 20%; margin-bottom: 15px; margin-top: 0;">
    <div>
        <span id="days"></span>
        <div class="text">Days</div>
    </div>
    <div>
        <span id="hours"></span>
        <div class="text">Hours</div>
    </div>
    <div>
        <span id="minutes"></span>
        <div class="text">Minutes</div>
    </div>
    <div>
        <span id="seconds"></span>
        <div class="text">Seconds</div>
    </div>
</div>

<script src="/js/9.js"></script>
</body>

</html>