<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lap Nguyen">
    <title>Random Walker</title>

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #myCanvas {
            background-color: rgb(51, 50, 50);
        }
    </style>
</head>

<body>

    <canvas id="myCanvas" style="background-color: none;">
        Your browser is out-of-date. Please update your browser.
    </canvas>

    <script src="/js/8/Walker.js"></script>
    <script src="/js/8/script.js"></script>
</body>

</html>