<!-- NexusUI: https://nexus-js.github.io/ui/api/#intro -->
<!-- Notes: https://newt.phys.unsw.edu.au/jw/graphics/notes.GIF -->
<!-- Drum samples: https://github.com/tidalcycles/Dirt-Samples -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lap Nguyen">
    <title>Electronic Music Tool</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/16/style.css">
    <script src="/js/16/NexusUI.js"></script>
</head>

<body style="">
    <div id="container">
        <div id="sequencer1" class="inline"></div>
        <div id="sliderVolum1" class="inline"></div>
        <br>

        <div id="sequencer2" class="inline"></div>
        <div id="sliderVolum2" class="inline"></div>
        <br>

        <div id="sequencer3" class="inline"></div>
        <div id="sliderVolum3" class="inline"></div>
        <br>

        <div id="sequencer4" class="inline"></div>
        <div id="sliderVolum4" class="inline"></div>


        <br>
        <br>
        <br>

        <div id="position" class="inline"></div>
        <div id="keyboard" class="inline"></div>

        <script src="/js/16/script.js"></script>
    </div>


</body>

</html>